<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomersController</servlet-name>
        <servlet-class>controllers.CustomersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.authenticate.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.authenticate.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.authenticate.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>controllers.manage.OrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRequestController</servlet-name>
        <servlet-class>controllers.manage.OrderRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controllers.product.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>controllers.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>controllers.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controllers.product.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controllers.product.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <servlet-class>controllers.ChangeCustomerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderController</servlet-name>
        <servlet-class>controllers.manage.CustomerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserSale</servlet-name>
        <servlet-class>controllers.ChangeUserSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controllers.user.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllers.user.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategoryController</servlet-name>
        <servlet-class>controllers.product.SearchByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTextController</servlet-name>
        <servlet-class>controllers.product.SearchByTextController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManage</servlet-name>
        <servlet-class>controllers.manage.ProductManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controllers.product.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.manage.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCateController</servlet-name>
        <servlet-class>controllers.manage.UpdateCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCateController</servlet-name>
        <servlet-class>controllers.manage.AddCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserStatus</servlet-name>
        <servlet-class>controllers.ChangeUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>controllers.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUserController</servlet-name>
        <servlet-class>controllers.user.OrderUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUserDetail</servlet-name>
        <servlet-class>controllers.user.OrderUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewProductController</servlet-name>
        <servlet-class>controllers.product.ReviewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCancelOrderUserController</servlet-name>
        <servlet-class>controllers.user.UpdateCancelOrderUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterReview</servlet-name>
        <servlet-class>controllers.product.FilterReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavorProductController</servlet-name>
        <servlet-class>controllers.product.FavorProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateController</servlet-name>
        <servlet-class>controllers.product.RateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFavorProductController</servlet-name>
        <servlet-class>controllers.product.UpdateFavorProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersController</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRequestController</servlet-name>
        <url-pattern>/OrderRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/changestatusfalse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <url-pattern>/changeCusStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderController</servlet-name>
        <url-pattern>/customerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserSale</servlet-name>
        <url-pattern>/changusersale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByTextController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManage</servlet-name>
        <url-pattern>/productmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categorymanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCateController</servlet-name>
        <url-pattern>/updateCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCateController</servlet-name>
        <url-pattern>/addcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserStatus</servlet-name>
        <url-pattern>/changestatususer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/orderproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/update_quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUserController</servlet-name>
        <url-pattern>/orderuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUserDetail</servlet-name>
        <url-pattern>/orderuserdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewProductController</servlet-name>
        <url-pattern>/reviewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCancelOrderUserController</servlet-name>
        <url-pattern>/updatecancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterReview</servlet-name>
        <url-pattern>/filterreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavorProductController</servlet-name>
        <url-pattern>/favor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateController</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFavorProductController</servlet-name>
        <url-pattern>/updatefavor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100000000
        </session-timeout>
    </session-config>
    <taskdef resource="net/sf/antcontrib/antlib.xml">
        <classpath>
            <fileset dir="${basedir}/ant-contrib.dir"/>
            <pathelement location="${antcontrib}"/>
        </classpath>
    </taskdef>
</web-app>
