<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homeControl</servlet-name>
        <servlet-class>control.homeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryControl</servlet-name>
        <servlet-class>control.categoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailControl</servlet-name>
        <servlet-class>control.detailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>control.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginControl</servlet-name>
        <servlet-class>control.loginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupControl</servlet-name>
        <servlet-class>control.signupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutControl</servlet-name>
        <servlet-class>control.logoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerControl</servlet-name>
        <servlet-class>control.managerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteControl</servlet-name>
        <servlet-class>control.deleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateControl</servlet-name>
        <servlet-class>control.updateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addControl</servlet-name>
        <servlet-class>control.addControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadControl</servlet-name>
        <servlet-class>control.loadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartControl</servlet-name>
        <servlet-class>control.cartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payControl</servlet-name>
        <servlet-class>control.payControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartControl</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payControl</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
